{{- define "auth_ui-with-strongauth" -}}
  {{- $values := index . 0 -}}
  {{- $ := index . 1 -}}
apiVersion: enterprise.gloo.solo.io/v1
kind: AuthConfig
metadata:
  name: {{ $values.authconfigname }}
  namespace: {{ $.Release.Namespace }}                       # your kubernetes namespace
spec:
  configs:
    - passThroughAuth:
        grpc:
            {{- /* TODO: Get URL */}}
          address: {{ $.Values.defaults.passthru.grpcAddress.strongAuth }}
        config:
          openIdConfigurationUrl: {{ $values.openidurl }}
            {{- /* TODO: Configurable Level */}}
          strongAuthenticationLevel: 4000                   # has to correspond to "acr_values" set in oauth2 element below

    - oauth2:
        oidcAuthorizationCode:
  {{- /* Question/Frage: ist das nicht bei Header Extension nur wichtig ?*/}}
  {{- /* {{- if eq true $values.headerextension }}
        authEndpointQueryParams:
          # TODO: Configurable Level
          acr_values : strongAuth4000Service              # set strong authentication level
  {{- end }}
  */}}
          authEndpointQueryParams:
            acr_values : strongAuth4000Service              # set strong authentication level
          {{- /* TODO: Fix app_url */}}
          appUrl: {{ $values.appurl }}   # your UIs URL
          callbackPath: {{ $values.callbackpath }}  # your Oauth2 callback registered with Web.EAM
          clientId: {{ required "clientId for type=ui required" $values.clientid }}   # 
          clientSecretRef:
              {{- /* TODO: handover client secret ref */}}
            name: {{ required "clientSecret for type=ui required" $values.clientsecret }}             # see wadtfy-samples/wadtfy-sample-ui/templates/external-secret.yaml
            namespace: {{ $.Release.Namespace }}
          issuerUrl: {{ $values.issuerurl }}
          session:
            cookieOptions:
              domain: {{ first $.Values.defaults.domains }}
              maxAge: {{ $.Values.defaults.extauth.session.cookieTimeout }}
            redis:
              cookieName: auth0-session
              options:
                host: {{ $.Values.defaults.redisUrl }}

  {{- if $values.headerextension }}
    - passThroughAuth:
        grpc:
          address: {{ $.Values.defaults.passthru.grpcAddress.headerExtension }}
        config:
            {{- /* TODO: Get URL */}}
          openIdConfigurationUrl: {{ $values.openidurl }}
          enableAccessTokenForwarding: {{ $.Values.defaults.passthru.enableAccessTokenForwarding }}
          enableSubjectForwarding: {{ $.Values.defaults.passthru.enableSubjectForwarding }}
          enableQAccountMatching: {{ $.Values.defaults.passthru.enableQAccountMatching }}
  {{- end }}

{{- end -}}