{{- define "auth_backend-with-strongauth" -}}
  {{- $values := index . 0 -}}
  {{- $ := index . 1 -}}
apiVersion: enterprise.gloo.solo.io/v1
kind: AuthConfig
metadata:
  name: {{ $values.authconfigname }}
  namespace: {{ $.Release.Namespace }}
spec:
  configs:
    - passThroughAuth:
        grpc:
          address: {{ $.Values.defaults.passthru.grpcAddress.strongAuth }}
        config:
          openIdConfigurationUrl: {{ $values.openidurl }}
          strongAuthenticationLevel: {{ $values.strongauthlevel }}
      
  {{- if $values.headerextension }}
    - passThroughAuth:
        grpc:
          address: {{ $.Values.defaults.passthru.grpcAddress.headerExtension }}
        config:
          openIdConfigurationUrl: {{ $values.openidurl }}
          enableAccessTokenForwarding: {{ $.Values.defaults.passthru.enableAccessTokenForwarding }}
          enableSubjectForwarding: {{ $.Values.defaults.passthru.enableSubjectForwarding }}
          enableQAccountMatching: {{ $.Values.defaults.passthru.enableQAccountMatching }}
  {{- end }}
{{- end -}}

      