{{- define "auth_ui" -}}
  {{- $values := index . 0 -}}
  {{- $ := index . 1 -}}
apiVersion: enterprise.gloo.solo.io/v1
kind: AuthConfig
metadata:
  name: {{ $values.authconfigname }}
  namespace: {{ $.Release.Namespace }}                       # your kubernetes namespace
spec:
  configs:
    - oauth2:
        oidcAuthorizationCode:
          appUrl: {{ $values.appurl }}   # your UIs URL
          callbackPath: {{ required "callbackPath for type=ui required" $values.callbackpath }}  # your Oauth2 callback registered with Web.EAM
          clientId: {{ required "clientId for type=ui required" $values.clientid }}   # 
          clientSecretRef:
            name: {{ required "clientSecret for type=ui required" $values.clientsecret }}             # see wadtfy-samples/wadtfy-sample-ui/templates/external-secret.yaml
            namespace: {{ $.Release.Namespace }}
          issuerUrl: {{ $values.issuerurl }}
          session:
            cookieOptions:
              domain: {{ first $.Values.defaults.domains }}
              maxAge: {{ $.Values.defaults.extauth.session.cookieTimeout }}
            redis:
              cookieName: auth0-session
              options:
                host: {{ $.Values.defaults.redisUrl }}

  {{- if $values.headerextension }}
    - passThroughAuth:
        grpc:
          address: {{ $.Values.defaults.passthru.grpcAddress.headerExtension }}
        config:
          openIdConfigurationUrl: {{ $values.openidurl }}
          enableAccessTokenForwarding: {{ $.Values.defaults.passthru.enableAccessTokenForwarding }}
          enableSubjectForwarding: {{ $.Values.defaults.passthru.enableSubjectForwarding }}
          enableQAccountMatching: {{ $.Values.defaults.passthru.enableQAccountMatching }}
  {{- end }}
{{- end -}}